body {
	background-color: #075687;
	color: #FFFFFF;
	font-family: 'Rokkitt',Arial,Helvetica,sans-serif;
}



/* small size */
@media only screen and (min-width: 0px) {

h1 {
	font-size: 200%;
	margin-top: 15%;
	text-align: center;
	position: relative;
}

nav {
	top: 18%;
	left: 60%;
	margin-top: -100px;
	margin-left: -250px;
    position: fixed;
}

h2 {
	text-align: center;	
	font-size: 100%;
}

#begrüssung {
	text-align: center;
	margin-top: 10%;
}


} /* end of small */




/* medium size */
@media only screen and (min-width: 640px) {

h1 {
	font-size: 400%;
	margin-top: 20%;
	text-align: center;
}

nav {
	top: 18%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
    position: fixed;
}

h2 {
	text-align: center;	
	font-size: 140%;

}

} /* end of medium */




/* big size */
@media only screen and (min-width: 1024px) {

h1 {
	font-size: 600%;
	margin-top: 25%;
	text-align: center;
}

nav {
	top: 18%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
    position: fixed;
}

h2 {
	text-align: center;	
	font-size: 160%;
	margin-top: -5%
}

}