@media only screen and (min-device-width: 0px) {
/* Underlay für Kontaktelinks */
#h {
    color:#FFFFFF;
}

#f {
    color:#075687;
}

#g {
    color:#075687;
}

/*blue background-color*/
#start #intro, #board, #foerderverein {
    background-color: #075687;
    color: #FFFFFF;
    width: 100%;
    height: 2600px;
}

/* white background */
#aktuelles, #alpin, #termin {
    background-color: #ffffff;
    color: #075687;
    width: 100%;
    height: 2600px;
}

.scrollicon {
    margin-left: 40%;
    margin-right: auto;
    margin-top:10%;
    padding-bottom: 100px;
    float: left;
    cursor: pointer;
}

.fadebuttonblue {
    background-color: #336699;
    border-radius: 13px;
    border-color: #336699;
    margin-left: 37%;
    margin-right: auto;
}

.fadebuttonwhite {
    background-color: #F2F2FF;
    border-color: #336699;
    margin-left: 37%;
    margin-right: auto;
    border-radius: 10px;
}

.noneunderline {
	text-decoration: none;
}

.scs {
    margin-left: 32%;
    margin-right: auto;
    margin-bottom: 4%;
    width: 30%;
}

.intext a:link {
    padding: 0%;
    font-size: 100%;
}

.intext_blue a:link {
    padding: 0%;
    font-size: 100%;
    color: #075687;
}

.intext_blue a:visited {
    padding: 0%;
    font-size: 100%;
    color: #075687;
}

.whiteback {
    background-color: #ffffff;
    height: 300%;
}

.bluewords {
    color: #075687;
}

.subnavwhite a:link {
    color: #075687;
    text-decoration: none;
}

.subnavwhite a:visited {
    color: #075687;
    text-decoration: none;
}

.subnavwhite a:hover {
    color: #075687;
    text-decoration: unterline;
}

.zeichen {
    width: 30%;
    padding-left: 10%;
    padding-bottom: 10%;
}

.indoc img {
    margin-left: 43%;
    width:10%;
    height:10%;
}

.foot {
    font-size: 60%;
    width: 100%;
}

.backtomain {
    margin-left: -500px;
    margin-top: -5px;
}

body {
    background-color: #075687;
    color: #FFFFFF;
    width: 100%;
    height: 2600px;
    font-family: 'Rokkitt', Arial, Helvetica, sans-serif;
}

form {
    margin-left: 25%;
    margin-right: auto;
    position: absolute;
    padding-bottom: 30%
}

form p {
    margin-top: 0%;
}

span {
    font-size: 120%;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

li a:link {
    padding: 0%;
}

li {
    font-size: 180%;
    list-style-type: none;
    text-align: left;
    display: block;
    padding: 5px;
}

nav {
    background-color: #000000;
    height: 235px;
    left: 0;
    padding: 0% 12% 10% 0%;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 1;
}

a:link {
    color: #FFFFFF;
    list-style-type: none;
    padding: 0 5% 1% 1%;
    text-align: center;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: unterline;
}

h1 {
    padding-top: 10%;
    font-size: 400%;
    text-align: center;
    margin-top: 75%;
}

li {
    font-size: 180%;
    list-style-type: none;
    text-align: left;
    display: block;
    padding: 5px;
}

nav {
    background-color: #000000;
    height: 235px;
    left: 0;
    padding: 0% 12% 10% 10%;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav img {
    height: 60px;
    margin-left: 0px;
    margin-top: 90px;
    position: absolute;
    text-align: left;
    width: 60px;
}

h2 {
    text-align: center;
    font-size: 220%;
    text-decoration: none;
    cursor: hand;
}

p {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

table {
   font-size: 90%;
   margin: auto;
}

table img {
    width: 50%;
}


td {
    padding: 1px 1px 3px 11px;
}

th {
    padding-top: 3px;
}

}



/* small size */
@media only screen and (min-device-width: 320px) {
/*blue background-color*/
#start #intro, #board, #foerderverein {
    background-color: #075687;
    color: #FFFFFF;
    width: 100%;
    height: 2600px;
}

/* white background */
#aktuelles, #alpin, #termin {
    background-color: #ffffff;
    color: #075687;
    width: 100%;
    height: 2600px;
}

/* Logo des SC Schellenberg */
.scs {
    margin-left: 40%;
    margin-bottom: 4%;
    width: 20%;
}

.zeichen {
    width: 30%;
    padding-left: 10%;
    padding-bottom: 10%;
}

.indoc img {
    margin-left: 43%;
    width:10%;
    height:10%;
}

.foot {
    font-size: 60%;
    width: 100%;
}

.backtomain {
    margin-left: -500px;
    margin-top: -5px;
}

a:link {
    color: #FFFFFF;
    list-style-type: none;
    padding: 0 5% 1% 1%;
    text-align: center;
    text-decoration: none;
}

a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
	text-decoration: unterline;
}

h1 {
	padding-top: 20%;
	font-size: 275%;
	text-align: center;
	position: relative;
	}

li {
    font-size: 180%;
    list-style-type: none;
    text-align: left;
    display: block;
    padding: 5px;
}

nav {
    background-color: #000000;
    height: 235px;
    left: 0;
    padding: 0% 12% 10% 0%;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav img {
    height: 18px;
    margin-left: 0px;
    margin-top: -2px;
    position: absolute;
    text-align: left;
    width: 18px;
}

h2 {
	text-align: center;
	font-size: 220%;
	text-decoration: none;
    cursor: hand;
}

p {
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
}

table {
   font-size: 90%;
   margin: auto;
}

table img {
	width: 50%;
}


td {
    padding: 1px 1px 3px 11px;
}

th {
	padding-top: 3px;
}

}




@media only screen and (min-device-width: 481px) {
/*blue background-color*/
#start #intro, #board, #foerderverein {
    background-color: #075687;
    color: #FFFFFF;
    width: 100%;
    height: 2600px;
}

/* white background */
#aktuelles, #alpin, #termin {
    background-color: #ffffff;
    color: #075687;
    width: 100%;
    height: 2600px;
}

/* Underlay für Kontaktelinks */
#h {
    color:#FFFFFF;
    font-size: 230%;
    cursor: pointer;
}

#f {
    color:#075687;
    font-size: 230%;
    cursor: pointer;
}

#g {
    color:#075687;
    font-size: 230%;
    cursor: pointer;
}

#i {
    color:#075687;
    font-size: 220%;
    cursor: pointer;
}

#i #g span {
    font-size: 220%;
}

.subnavwhite {
    width: 100%;
    height: 2600px;
}

.subnavblue {
    width: 100%;
    height: 2600px;
}

.fadebuttonblue {
    background-color: #336699;
    border-radius: 13px;
    border-color: #336699;
    margin-left: 35%;
    margin-right: auto;
}

.fadebuttonwhite {
    background-color: #F2F2FF;
    border-color: #336699;
    margin-left: 35%;
    margin-right: auto;
    border-radius: 13px;
}

.scrollicon {
    margin-left: 45%;
    margin-right: auto;
    margin-top:10%;
    padding-bottom: 100px;
    float: left;
    cursor: pointer;
}

.scs {
    margin-left: 37%;
    margin-right: auto;
    margin-bottom: 4%;
    width: 25%;
}

.zeichen {
    width: 30%;
    padding-left: 10%;
}

.indoc img {
    margin-left: 45%;

}

.foot {
    font-size: 60%;
    width: 100%;
}

.backtomain {
    margin-left: -500px;
    margin-top: -5px;
}

iframe {
    height: 35%;
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
}

a:link {
    color: #FFFFFF;
    list-style-type: none;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 120%;
}

h1 {
    padding-top: 10%;
    font-size: 560%;
    text-align: center;
    margin-top: 50%;
}

li {
    font-size: 80%;
    list-style-type: none;
    text-align: left;
    display: block;
    padding: 5px;
}

nav {
    background-color: #000000;
    font-size: 200%;
    height: 235px;
    padding: 0% 0% 12% 0%;
    position: fixed;
    width: 100%;
}

nav img {
    height: 60px;
    margin-left: 0px;
    margin-top: 90px;
    position: absolute;
    text-align: left;
    width: 60px;
}

h2 {
    font-size: 200%;
    text-align: center;
    text-decoration: none;
}

p {
    padding-left: 15%;
    padding-right: 15%;
}


table {
    font-size: 180%;
    margin: auto;
}

td {
    padding: 10px 34px 25px 35px;
}
}
@media only screen and (min-width: 610px) {
#start #intro, #board, #foerderverein {
    background-color: #075687;
    color: #FFFFFF;
    width: 100%;
    height: 1500px;
}

/* white background */
#aktuelles, #alpin, #termin {
    background-color: #ffffff;
    color: #075687;
    width: 100%;
    height: 1500px;
}

/* Underlay für Kontaktelinks */
#h {
    color:#FFFFFF;
    font-size: 230%;
    cursor: pointer;
}

#f {
    color:#075687;
    font-size: 230%;
    cursor: pointer;
}

#g {
    color:#075687;
    font-size: 230%;
    cursor: pointer;
}

#i {
    color:#075687;
    font-size: 220%;
    cursor: pointer;
}

#i , #g span {
    font-size: 200%;
}

.subnavwhite {
    width: 100%;
    height: 2600px;
}

.subnavblue {
    width: 100%;
    height: 2600px;
}

.fadebuttonblue {
    background-color: #336699;
    border-radius: 13px;
    border-color: #336699;
    margin-left: 35%;
    margin-right: auto;
}

.fadebuttonwhite {
    background-color: #F2F2FF;
    border-color: #336699;
    margin-left: 35%;
    margin-right: auto;
    border-radius: 13px;
}

.scrollicon {
    margin-left: 46%;
    margin-right: auto;
    margin-top:10%;
    padding-bottom: 100px;
    float: left;
    cursor: pointer;
}

.scs {
    margin-left: 35%;
    margin-right: auto;
    margin-bottom: 4%;
    width: 25%;
}

.zeichen {
    width: 30%;
    padding-left: 10%;
}

.indoc img {
    margin-left: 45%;

}

.foot {
    font-size: 60%;
    width: 100%;
}

.backtomain {
    margin-left: -500px;
    margin-top: -5px;
}

iframe {
    height: 35%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: #FFFFFF;
    list-style-type: none;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 120%;
}

h1 {
    padding-top: 10%;
    font-size: 560%;
    text-align: center;
    margin-top: 40%;
}

li {
    font-size: 70%;
    list-style-type: none;
    text-align: left;
    display: block;
    padding: 5px;
}

nav {
    background-color: #000000;
    font-size: 230%;
    height: 235px;
    position: fixed;
    width: 100%;
}

nav img {
    height: 60px;
    margin-left: 0px;
    margin-top: 113px;
    position: absolute;
    width: 60px;
}

h2 {
    font-size: 200%;
    text-align: center;
    text-decoration: none;
}

p {
    padding-left: 15%;
    padding-right: 15%;
}


table {
    font-size: 180%;
    margin: auto;
}

td {
    padding: 10px 34px 25px 35px;
}

}
@media only screen and (min-width: 641px) {
#start #intro, #board, #foerderverein {
    background-color: #075687;
    color: #FFFFFF;
    width: 100%;
    height: 2600px;
}

/* white background */
#aktuelles, #alpin, #termin {
    background-color: #ffffff;
    color: #075687;
    width: 100%;
    height: 2600px;
}

/* Underlay für Kontaktelinks */
#h {
    color:#FFFFFF;
    font-size: 230%;
    cursor: pointer;
}

#f {
    color:#075687;
    font-size: 230%;
    cursor: pointer;
}

#g {
    color:#075687;
    font-size: 230%;
    cursor: pointer;
}

#i {
    color:#075687;
    font-size: 220%;
    cursor: pointer;
}

#i , #g span {
    font-size: 220%;
}

.subnavwhite {
    width: 100%;
    height: 2600px;
}

.subnavblue {
    width: 100%;
    height: 2600px;
}

.fadebuttonblue {
    background-color: #336699;
    border-radius: 13px;
    border-color: #336699;
    margin-left: 35%;
    margin-right: auto;
}

.fadebuttonwhite {
    background-color: #F2F2FF;
    border-color: #336699;
    margin-left: 35%;
    margin-right: auto;
    border-radius: 13px;
}

.scrollicon {
    margin-left: 47%;
    margin-right: auto;
    margin-top:10%;
    padding-bottom: 100px;
    float: left;
    cursor: pointer;
}

.scs {
    margin-left: 40%;
    margin-right: auto;
    margin-bottom: 4%;
    width: 15%;
}

.zeichen {
    width: 30%;
    padding-left: 10%;
}

.indoc img {
    margin-left: 45%;

}

.foot {
    font-size: 60%;
    width: 100%;
}

.backtomain {
    margin-left: -55px;
    margin-top: -9px;
    font-size: 25px;
}

iframe {
    height: 35%;
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
}

a:link {
    color: #FFFFFF;
    list-style-type: none;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 120%;
}

h1 {
    padding-top: 10%;
    font-size: 560%;
    text-align: center;
}

li {
    font-size: 55%;
    list-style-type: none;
    text-align: left;
    display: inline;
    padding-left: 1%;
}

nav {
    background-color: #000000;
    font-size: 195%;
    height: 80px;
    padding: 0% 0% 2% 5%;
    position: fixed;
    width: 100%;
}

nav img {
    height: 30px;
    margin-left: 0px;
    margin-top: 26px;
    position: absolute;
    text-align: left;
    width: 30px;
}

h2 {
    font-size: 200%;
    text-align: center;
    text-decoration: none;
}

p {
    padding-left: 15%;
    padding-right: 15%;
}


table {
    font-size: 180%;
    margin: auto;
}

td {
    padding: 10px 34px 25px 35px;
}
}

@media only screen and (min-width: 775px) {
li {
    font-size: 69%;
    list-style-type: none;
    text-align: left;
    display: inline;
    padding-left: 1%;
}
}



@media only screen and (min-width: 961px) {
#start #intro, #board, #foerderverein {
    background-color: #075687;
    color: #FFFFFF;
    width: 100%;
    height: 2600px;
}

/* white background */
#aktuelles, #alpin, #termin {
    background-color: #ffffff;
    color: #075687;
    width: 100%;
    height: 2600px;
}

/* Underlay für Kontaktelinks */
#h {
    color:#FFFFFF;
    font-size: 230%;
    cursor: pointer;
}

#f {
    color:#075687;
    font-size: 230%;
    cursor: pointer;
}

#g {
    color:#075687;
    font-size: 230%;
    cursor: pointer;
}

#i {
    color:#075687;
    font-size: 220%;
    cursor: pointer;
}

#i , #g span {
    font-size: 220%;
}

.subnavwhite {
    width: 100%;
    height: 2600px;
}

.subnavblue {
    width: 100%;
    height: 2600px;
}

.fadebuttonblue {
    background-color: #336699;
    border-radius: 13px;
    border-color: #336699;
    margin-left: 35%;
    margin-right: auto;
}

.fadebuttonwhite {
    background-color: #F2F2FF;
    border-color: #336699;
    margin-left: 35%;
    margin-right: auto;
    border-radius: 13px;
}

.scrollicon {
    margin-left: 47%;
    margin-right: auto;
    margin-top:10%;
    padding-bottom: 100px;
    float: left;
    cursor: pointer;
}

.scs {
    margin-left: 40%;
    margin-bottom: 4%;
    width: 15%;
}

.zeichen {
    width: 30%;
    padding-left: 10%;
}

.indoc img {
    margin-left: 45%;

}

.foot {
    font-size: 60%;
    width: 100%;
}

.backtomain {
    margin-left: -85px;
    margin-top: 4px;
}

iframe {
    height: 35%;
    width: 60%;
    margin-left: 20%;
    margin-right: auto;
}

a:link {
    color: #FFFFFF;
    list-style-type: none;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 115%;
}

h1 {
    padding-top: 10%;
    font-size: 700%;
    text-align: center;
}

li {
    display: inline;
    padding-left: 12px;
    font-size: 149%;
}

nav {
    background-color: #000000;
    font-size: 120%;
    height: 70px;
    left: -13%;
    padding: 3% 7% 2% 13%;
    position: fixed;
    top: 0;
    width: 100%;
}

nav img {
    height: 30px;
    margin-left: 0px;
    margin-top: 24px;
    position: absolute;
    text-align: left;
    width: 30px;
}

h2 {
    font-size: 200%;
    text-align: center;
    text-decoration: none;
}

p {
    padding-left: 15%;
    padding-right: 15%;
}


table {
    font-size: 180%;
    margin: auto;
}

td {
    padding: 10px 34px 25px 35px;
}
}




@media only screen and (min-width: 1025px) {
#start #intro, #board, #foerderverein {
    background-color: #075687;
    color: #FFFFFF;
    width: 100%;
    height: 2600px;
}

/* white background */
#aktuelles, #alpin, #termin {
    background-color: #ffffff;
    color: #075687;
    width: 100%;
    height: 2600px;
}

/* Underlay für Kontaktelinks */
#h {
    color:#FFFFFF;
    font-size: 230%;
    cursor: pointer;
}

#f {
    color:#075687;
    font-size: 230%;
    cursor: pointer;
}

#g {
    color:#075687;
    font-size: 230%;
    cursor: pointer;
}

#i {
    color:#075687;
    font-size: 220%;
    cursor: pointer;
}

#i , #g span {
    font-size: 220%;
}

.subnavwhite {
    width: 100%;
    height: 2600px;
}

.subnavblue {
    width: 100%;
    height: 2600px;
}

.fadebuttonblue {
    background-color: #336699;
    border-radius: 13px;
    border-color: #336699;
    margin-left: 35%;
    margin-right: auto;
}

.fadebuttonwhite {
    background-color: #F2F2FF;
    border-color: #336699;
    margin-left: 35%;
    margin-right: auto;
    border-radius: 13px;
}

.scrollicon {
    margin-left: 47%;
    margin-right: auto;
    margin-top:10%;
    padding-bottom: 100px;
    float: left;
    cursor: pointer;
}

.scs {
    margin-left: 43%;
    margin-bottom: 4%;
    width: 12%;
}

.zeichen {
    width: 30%;
    padding-left: 10%;
}

.indoc img {
    margin-left: 45%;

}

.foot {
    font-size: 60%;
    width: 100%;
}

.backtomain {
    margin-left: -100px;
    margin-top: -5px;
}

iframe {
    height: 35%;
    width: 55%;
    margin-left: 20%;
    margin-right: auto;
}

a:link {
    color: #FFFFFF;
    list-style-type: none;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 110%;
}

h1 {
    padding-top: 10%;
    font-size: 700%;
    text-align: center;
}

li {
    display: inline;
    padding-left: 12px;
    font-size: 140%;
}

nav {
    background-color: #000000;
    font-size: 140%;
    height: 60px;
    padding: 1% 0% 3% 17%;
    position: fixed;
    width: 100%;
}

nav img {
    height: 30px;
    margin-left: 0px;
    margin-top: 20px;
    position: absolute;
    text-align: left;
    width: 30px;
}

h2 {
    font-size: 200%;
    text-align: center;
    text-decoration: none;
}

p {
    padding-left: 15%;
    padding-right: 15%;
}


table {
    font-size: 180%;
    margin: auto;
}

td {
    padding: 10px 34px 25px 35px;
}
}




@media only screen and (min-width: 1281px) {
/* blue background */
#start #intro, #board, #foerderverein {
    background-color: #075687;
    color: #FFFFFF;
    width: 100%;
    height: 2600px;
}

/* white background */
#aktuelles, #alpin, #termin {
    background-color: #ffffff;
    color: #075687;
    width: 100%;
    height: 2600px;
}

/*Slideshow für Bilder*/
#skishow1 {
    margin: 50px auto;
    position: relative;
    width: 400px;
    height: 280px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#skishow1 > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#skishow1 > img {
    width: 200%;
    height: 200%;
}

/* Underlay für Kontaktelinks */
#h {
    color:#FFFFFF;
    font-size: 230%;
    cursor: pointer;
}

#f {
    color:#075687;
    font-size: 230%;
    cursor: pointer;
}

#g {
    color:#075687;
    font-size: 230%;
    cursor: pointer;
}

#i {
    color:#075687;
    font-size: 220%;
    cursor: pointer;
}

#i , #g span {
    font-size: 220%;
}

./*news img {
    width: 80%;
    height: 30%;
    padding-left: 10%
}*/

.news p {
    text-align: left;
}

.subnavwhite {
    width: 100%;
    height: 2600px;
}

.subnavblue {
    width: 100%;
    height: 2600px;
}

.fadebuttonblue {
    background-color: #336699;
    border-radius: 13px;
    border-color: #336699;
    margin-left: 35%;
    margin-right: auto;
}

.fadebuttonwhite {
    background-color: #F2F2FF;
    border-color: #336699;
    margin-left: 35%;
    margin-right: auto;
    border-radius: 13px;
}

.scrollicon {
    margin-left: 48%;
    margin-right: auto;
    margin-top:10%;
    padding-bottom: 100px;
    float: left;
    cursor: pointer;
}

.scs {
    margin-left: 43%;
    margin-bottom: 4%;
    width: 12%;
}

.zeichen {
    width: 30%;
    padding-left: 10%;
}

.indoc img {
    margin-left: 45%;

}

.foot {
    font-size: 60%;
    width: 100%;
}

.backtomain {
    margin-left: -125px;
    margin-top: -5px;
}

h3 {
    padding-bottom: 5%;
    padding-left: 15%;
    text-align: left;
    text-decoration: underline;
}

iframe {
    height: 35%;
    width: 55%;
    margin-left: 25%;
    margin-right: auto;
}

a:link {
    color: #FFFFFF;
    list-style-type: none;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 120%;
}

h1 {
    padding-top: 10%;
    font-size: 700%;
    text-align: center;
}

li {
    display: inline;
    padding-left: 15px;
    font-size: 176%;
    width: left;
}

nav {
    background-color: #000000;
    font-size: 134%;
    height: 60px;
    left: -12%;
    padding: 3% 7% 2% 13%;
    position: fixed;
    top: -3%;
    width: 100%;
}

nav img {
    height: 30px;
    margin-left: 0px;
    margin-top: 20px;
    position: absolute;
    text-align: left;
    width: 30px;
}

h2 {
    font-size: 200%;
    text-align: center;
    text-decoration: none;
}

p {
    padding-left: 15%;
    padding-right: 15%;
}


table {
    font-size: 180%;
    margin: auto;
}

td {
    padding: 10px 34px 25px 35px;
}
}